<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="Scriptcontent">
                    <section>
                        <div class="box">
                            <table>
                                <tr>
                                    <th class="th1">
                                        <div class="container">
                                            <div class="form">
                                                <h2>NFT Metadata</h2>
                                                <form action="#" method="post">
                                                    <div class="inputBx password">
                                                        <input id="password-input" type="text" name="password" required="required">
                                                        <span>Enter the NFT address</span>
                                                    </div>
                                                    <div class="inputBx">
                                                        <input type="submit" id="submit" value="Search" onclick="updateSkyrim()">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="th2">
                                        <div class="container2" id="container2">
                                            <p class="center">
                                                information_mint = {{information_mint1}}
                                                <br> information_standard = {{information_standard1}}
                                                <br> information_name = {{information_name1}}
                                                 <br> information_symbol = {{information_symbol1}}
                                                <br> information_metaplex = {{information_metaplex1}}
                                            </p>
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>